body {
  background-color: #ffffff;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h2 {
  color: #554433; }

p {
  text-indent: 2em; }
  p a {
    color: #775544; }

#body {
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff; }

#header {
  background-color: #ffffff;
  color: #000000; }

#header-left {
  position: relative;
  left: 0px;
  top: 0px; }

#header-right {
  float: right;
  width: 200px;
  margin: 0px; }

#main {
  padding: 1em;
  clear: both;
  background-color: #eeffff;
  border-color: #aaddbb;
  border-width: 2px;
  border-style: solid; }

#footer {
  background-color: #ffffff;
  color: #000000;
  font-size: xx-small;
  text-align: center; }

#valid {
  position: relative;
  margin: 5px;
  clear: both;
  text-align: right; }

.pagination {
  color: #111199;
  text-align: right; }
