$dark-brown: #543;
$light-brown: #754;
$dark-blue: #4ce;
$light-blue: #6ff;
$dark-green: #7a5;
$med-green: #9d7;
$light-green: #adb;
$pale-green: #dff;
$paler-green: #eff;
$white: #fff;

h1, h2 {
    color: $dark-brown;
}

a {
    color: $light-brown;
}

.well-light-green {
    background: $paler-green;
    border-color: $med-green;
}

.well-green {
    background: $pale-green;
    border-color: $dark-green;
}

#valid {
    position: relative;
    margin: 5px;

    clear: both;

    text-align: right;
}
