h1, h2 {
  color: #554433; }

a {
  color: #775544; }

.well-light-green {
  background: #eeffff;
  border-color: #99dd77; }

.well-green {
  background: #ddffff;
  border-color: #77aa55; }

#valid {
  position: relative;
  margin: 5px;
  clear: both;
  text-align: right; }
